# API Configuration
NODE_ENV=production
API_PORT=3001
API_KEY_SECRET=insira_um_segredo_aleatorio_e_seguro_aqui

# PostgreSQL Database Configuration
POSTGRES_USER=electoral_user
POSTGRES_PASSWORD=insira_uma_senha_do_banco_segura_aqui
POSTGRES_DB=insystens_electoral

# Prisma Database Access URL (Interpolates user/password/db from above in runtime)
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@electoral-postgres:5432/${POSTGRES_DB}?schema=public

# Redis Cache Configuration
REDIS_URL=redis://electoral-redis:6379
